.maintext {height:100%;line-height: 120%;
	background-color:wheat;overflow-y:auto;white-space:nowrap;font-size:200%;font-family:"DFKai-SB"}

.l:hover {width:100%;cursor:pointer;background-color:yellow}