.main {font-size:200%;height:100%;line-height: 120%;overflow-y:auto;}
.inputs {width:100%;}
hl {color:red;}
hl[n="0"] {color:blue;}
.row {
    width:99.99%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.logo {width:100%;}